%h1 Your Website Reference
%p
  ="#{@website.website_title} #{@website.copyright.strftime('%Y')},"
  %i="#{@website.article_title},"
  =" #{@website.publication_city}, viewed #{@website.date_viewed.strftime('%d %B %Y')}, <#{@website.url}>."

= link_to 'Edit', edit_website_path(@website)
\|
= link_to 'Back', websites_path

