.ref-form-area
  .ref-form
    = nested_form_for @book do |f|
      - if @book.errors.any?
        #error_explanation
          %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
          %ul
            - @book.errors.full_messages.each do |msg|
              %li= msg
      
      =f.fields_for :book_authors do |t|
        .field
          =t.text_field :first_name, placeholder: "Author First Name or Initial"
        
        .field
          =t.text_field :last_name, placeholder: "Author Last Name or Initial"
        .hide.remove-author=t.link_to_remove "Remove Author >>"
      %p
        =f.link_to_add "Add another Author >>", :book_authors, class: "add-author"

      .field
        .extra-label.pull-left
          Book Publication Year:
        .pull-right
          = f.datetime_select :publication_year, discard_month: true, discard_hour:true, start_year: Time.now.year - 300, end_year: Time.now.year
          = f.label " "
        .clearfix
      .field
        = f.text_field :book_title, placeholder: "Title of the Book"
      .field
        = f.text_field :book_edition, placeholder: "Book Edition"
      .field
        = f.text_field :publisher_name, placeholder: "Publisher Name"
      .field
        = f.text_field :publisher_city, placeholder: "Publisher City"
      .actions
        .pomegranate-flat-button
          = f.submit 'Create Reference'
