%p#notice= notice

%p
  %b Publication year:
  = @journal.publication_year
%p
  %b Article title:
  = @journal.article_title
%p
  %b Journal title:
  = @journal.journal_title
%p
  %b Journal volume:
  = @journal.journal_volume
%p
  %b Journal number:
  = @journal.journal_number
%p
  %b Page range start:
  = @journal.page_range_start
%p
  %b Page range end:
  = @journal.page_range_end

= link_to 'Edit', edit_journal_path(@journal)
\|
= link_to 'Back', journals_path
