.ref-form-area
  .ref-form
    = nested_form_for @chapter do |f|
      - if @chapter.errors.any?
        #error_explanation
          %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
          %ul
            - @chapter.errors.full_messages.each do |msg|
              %li= msg
      =f.fields_for :chapter_authors do |t|
        .field
          =t.text_field :first_name, placeholder: "Author First Name or Initial"
        
        .field
          =t.text_field :last_name, placeholder: "Author Last Name or Initial"
          .hide=t.link_to_remove "Remove Author"
      %p
        =f.link_to_add "Add another Author >>", :chapter_authors, class: "add-author"

      .field
        .extra-label.pull-left
          Book Publication Year:
        .pull-right
          = f.datetime_select :publication_year, discard_month: true, discard_hour:true, start_year: Time.now.year - 300, end_year: Time.now.year
          = f.label " "
        .clearfix
      .field
        = f.text_field :book_name, placeholder: "Name of Book"
      .field
        = f.text_field :book_edition, placeholder: "Book Edition"
      .field
        = f.text_field :chapter_title, placeholder: "Chapter Title"
      .field
        = f.text_field :publisher_name, placeholder: "Publisher Name"
      .field
        = f.text_field :publisher_city, placeholder: "Publisher City"
      .field
        = f.text_field :page_range_start, placeholder: "Page Start Range (i.e. 145)"
      .field
        = f.text_field :page_range_end, placeholder: "Page End Range (i.e. 280)"
      .actions
        .pomegranate-flat-button
          = f.submit 'Create Reference'
